<div class="row">
    <div class="col-sm-12">
        <section class="panel">
        
            <div class="panel-body">

                <ul id="filters" class="media-filter">
                    <!-- <li><a href="#" data-filter="*"> All</a></li> -->
                    <li><a href="#" data-filter=".e">English</a></li>  
                    <li><a href="#" data-filter=".f">French</a></li> 
                    <li><a href="#" data-filter=".h">Hebrew</a></li>
                    <li><a href="#" data-filter=".p">Portuguese</a></li>      
                    <li><a href="#" data-filter=".r">Russian</a></li>
                    <li><a href="#" data-filter=".s">Spanish</a></li> 
                </ul>



                <div id="gallery" class="media-gal">

                    <div class="e item " >
                        <img src="/images/campaigns/EN.jpg" alt="" />
                            <p class="desc">Campaign_Social_En.zip</p>
                            <button class='imgbutton'><a href="Campaign_Social_En.zip"target="_blank" download="Campaign_Social_En.zip">Download</a></button>
                        <p>Campaign Content | English</p>
                    </div>

                    <div class="f item " >
                        <img src="/images/campaigns/FR.jpg" alt="" />
                            <p class="desc">Campaign_Social_Fr.zip</p>
                            <button class='imgbutton'><a href="Campaign_Social_Fr.zip"target="_blank" download="Campaign_Social_Fr.zip">Download</a></button>
                        <p>Campaign Content | French</p>
                    </div>

                    <div class="h item " >
                        <img src="/images/campaigns/HB.jpg" alt="" />
                            <p class="desc">Campaign_Social_He.zip</p>
                            <button class='imgbutton'><a href="Campaign_Social_He.zip" target="_blank" download="Campaign_Social_He.zip">Download</a></button>
                        <p>Campaign Content | Hebrew</p>
                    </div>

                    <div class="p item " >
                        <img src="/images/campaigns/PR.jpg" alt="" />
                            <p class="desc"> Campaign_Social_Pr.zip</p>
                            <button class='imgbutton'><a href="Campaign_Social_Pr.zip" target="_blank" download="Campaign_Social_Pr.zip">Download</a></button>
                        <p>Campaign Content | Portuguese</p>
                    </div>

                    <div class="r item " >
                        <img src="/images/campaigns/RU.jpg" alt="" />
                            <p class="desc"> Campaign_Social_Ru.zip</p>
                            <button class='imgbutton'><a href="Campaign_Social_Ru.zip" target="_blank" download="Campaign_Social_Ru.zip">Download</a></button>
                        <p> Campaign Content | Russian</p>
                    </div>

                    <div class="s item " >
                        <img src="/images/campaigns/SP.jpg" alt="" />
                            <p class="desc">Campaign_Social_Sp.zip</p>
                            <button class='imgbutton'><a href="Campaign_Social_Sp.zip" target="_blank" download="Campaign_Social_Sp.zip">Download</a></button>
                        <p>Campaign Content | Spanish </p>
                    </div>

                    




                <!-- Modal -->
                <!-- modal -->
                <div class="modal fade" id="pModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Campaign Content | Portuguese</h4>
                            </div>

                            <div class="modal-body row">

                                <div class="col-md-12 img-modal">
                                    <button class="btn btn-primary" type="button"><a href="Campaign_Social_Pr.zip" target="_blank" download="Campaign_Social_Pr.zip">Download</a></button>
                                    <img src="/images/campaigns/PR.jpg" alt="">
                                    <p class="mtop10"><strong>File Name:</strong>
                                    <p><strong>File Types:</strong>  Cover Photo - Shareable</p>
                                    <!-- <p><strong>Resolution:</strong> 300x200</p> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="rModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Campaign Content | Russian</h4>
                            </div>

                            <div class="modal-body row">

                                <div class="col-md-12 img-modal">
                                    <button class="btn btn-primary" type="button"><a href="Campaign_Social_Ru.zip" target="_blank" download="Campaign_Social_Ru.zip">Download</a></button>
                                    <img src="/images/campaigns/RU.jpg" alt="">
                                    <p class="mtop10"><strong>File Name:</strong>Campaign_Social_Ru.zip</p>
                                    <p><strong>File Types:</strong> Cover Photo - Shareable</p>
                                    <!-- <p><strong>Resolution:</strong> 300x200</p> -->
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="sModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Campaign Content | Spanish</h4>
                            </div>

                            <div class="modal-body row">

                                <div class="col-md-12 img-modal">
                                    <button class="btn btn-primary" type="button"><a href="Campaign_Social_Sp.zip" target="_blank" download="Campaign_Social_Sp.zip">Download</a></button>
                                    <img src="/images/campaigns/SP.jpg" alt="">
                                    <p class="mtop10"><strong>File Name:</strong> Campaign_Social_Sp.zip</p>
                                    <p><strong>File Types:</strong> Cover Photo - Shareable</p>
                                    <!-- <p><strong>Resolution:</strong> 300x200</p> -->
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>
</div>
