<div class="brand ">
    <a href="/" class="logo">
        <%= image_tag 'logo.png' %>
    </a>
</div>
  

<div class='nav notify-row'>
  <h4>Taglit Global Resource Center</h4>
</div>
  <div class="top-nav clearfix">





      <!--search & user info start-->

        <ul class="nav pull-right top-menu">
          <!-- user login dropdown start-->
          
        <li><span class="username">&nbsp;<%= link_to '&nbsp;&nbsp;<i class="fa fa-lock"></i>'.html_safe, signout_path %></span>
        </li>
          <!-- user login dropdown end -->
<!--         <li>
            <div class="toggle-right-box">
                <div class="fa fa-bars"></div>
            </div>
        </li> -->

      </ul>
      <!--search & user info end-->  
</div>





