<ul class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="active"><%= params[:action].capitalize %></li>
    <li class='active right'><a href="/All_Brand_Assets.zip" target="_blank" download="/All_Brand_Assets.zip">Download All</a></li>
</ul>